@import 'main';

.logo {
  width: fit-content;
  position: relative;
  @include flex-col();
  border-left: 2px solid $YELLOW;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 15px;
  @include media($SCREEN_M) {
    margin-right: 35px;
  }
  @include media($SCREEN_L) {
    margin-right: 75px;
  }
  @include media($SCREEN_HD) {
    margin-right: 150px;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    background-color: $YELLOW;
    width: 40px;
    height: 2px;
    @include transition(width);
    z-index: 11;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:hover::before {
    width: 20px;
  }
  &:hover::after {
    width: 60px;
  }

  &__title {
    @include text(18px, 700, $WHITE);
    @include media($SCREEN_TABLET) {
      font-size: 20px;
    }

    @include media($SCREEN_DESKTOP) {
      font-size: 28px;
    }
  }

  &__subtitle {
    @include text(11px, 400, $WHITE);
    opacity: 0.6;
  }
}
