@import 'main';
.swiper-pagination-bullet-active {
  background: $YELLOW;
}
.mySwiper {
  width: calc(100% - 30px);
  @include media($SCREEN_TABLET) {
    width: calc(100% - 40px);
  }

  @include media($SCREEN_DESKTOP) {
    width: calc(100% - 60px);
  }
}
.carouselEmployee {
  &__slideWrapper {
    border: 1px solid $YELLOW;
    padding: 0px 27px 9px 23px;
    margin-bottom: 18px;
    @include media($SCREEN_TABLET) {
      padding: 0px 26px 15px 30px;
    }
    @include media($SCREEN_DESKTOP) {
      padding: 0px 45px 27px 30px;
    }
  }
  &__avatarWrapper {
    position: relative;
    @include flex-row(flex-end);
    margin-bottom: 20px;
    &_avatar {
      border-radius: 100%;
      position: absolute;

      left: 0px;
      top: -30px;
      width: 68px;
      height: 68px;
      @include media($SCREEN_DESKTOP) {
        top: -60px;
        width: 128px;
        height: 128px;
      }
    }
  }
  &__aboutWrapper {
    &_name {
      @include text(25px, 700, $WHITE);
      margin-bottom: 13px;
      @include media($SCREEN_DESKTOP) {
        margin-bottom: 19px;
      }
    }
    &_ownerOf {
      @include text(12px, 400, $WHITE);
      margin-bottom: 8px;
      @include media($SCREEN_DESKTOP) {
        font-size: 16px;
        margin-bottom: 34px;
      }
    }
    &_ownerOf a {
      color: $YELLOW;
    }
    &_autobiography {
      line-height: 26px;
      @include text(12px, 400, $LIGHTGRAY);
      @include media($SCREEN_DESKTOP) {
        font-size: 16px;
      }
    }
  }
}
