@import 'main';
.swiper-pagination-bullet-active {
  background: $YELLOW;
}
.mySwiper {
  width: calc(100% - 30px);
  @include media($SCREEN_TABLET) {
    width: calc(100% - 39px);
  }

  @include media($SCREEN_DESKTOP) {
    width: calc(100% - 60px);
  }
}
.carouselEmployee {
  &__slideWrapper {
    border: 1px solid $YELLOW;
    padding: 0px 27px 20px 23px;
    margin-bottom: 18px;
    @include media($SCREEN_TABLET) {
      padding: 0px 26px 30px 30px;
    }
    @include media($SCREEN_DESKTOP) {
      padding: 0px 45px 27px 30px;
    }
  }
  &__avatarWrapper {
    position: relative;
    @include flex-row(flex-end);
    margin-bottom: 17px;
    @include media($SCREEN_DESKTOP) {
      margin-bottom: 30px;
    }
    @include media($SCREEN_RETINA) {
      margin-bottom: 50px;
    }
    &_avatar {
      border-radius: 100%;
      position: absolute;

      left: 0px;
      top: -30px;
      width: 68px;
      height: 68px;
      @include media($SCREEN_TABLET) {
        width: 80px;
        height: 80px;
      }
      @include media($SCREEN_DESKTOP) {
        top: -55px;
        width: 108px;
        height: 108px;
      }
      @include media($SCREEN_RETINA) {
        top: -60px;
        width: 128px;
        height: 128px;
      }
    }
    &_quotes {
      color: #fcd54c;
      font-family: Work Sans;
      font-size: 100px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      height: 40px;
    }
  }
  &__aboutWrapper {
    &_name {
      @include text(25px, 700, $WHITE);
      margin-bottom: 13px;
      @include media($SCREEN_DESKTOP) {
        margin-bottom: 19px;
      }
    }
    &_ownerOf {
      @include text(12px, 400, $WHITE);
      margin-bottom: 8px;
      @include media($SCREEN_DESKTOP) {
        font-size: 16px;
        margin-bottom: 16px;
      }
    }
    &_ownerOf a {
      color: $YELLOW;
    }
    &_autobiography {
      @include text(12px, 400, $LIGHTGRAY);
      @include media($SCREEN_DESKTOP) {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}
