@import 'main';

.contactUs {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  background-color: $GRAY;
  @include flex-col(center);

  &__wrapper {
    @include flex-col(center, center);

    &_question {
      @include text(18px, 600, $GRAY);
    }

    &_title {
      @include text(120px, 700, $GRAY);
    }
  }

  &__addMassage {
    @include flex-row(center);
    &_input {
      width: 427px;
      border: 0px;
      padding: 15px 30px;
    }

    &_button {
      width: 165px;
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: $GRAY;
      color: $WHITE;
      cursor: pointer;
    }
  }
}

.bg {
  padding-top: 87px;
  background-image: url(../../../images/contactUsBg.jpg);
  min-height: 400px;
}

.modalWindow {
  &__wrapper {
    @include flex(center, center);
    z-index: 3;
    position: fixed;

    width: 100%;
    height: 1070px;
    background-color: rgba($color: $GRAY, $alpha: 0.9);
    top: 0;
    left: 0;
    &_centerBlock {
      @include flex-col(center, center);
      width: 729px;
      padding-top: 170px;
      padding-bottom: 170px;
      background-color: white;

      &_thanks {
        @include text(60px, 700, $GRAY);
      }

      &_email {
        @include text(30px, 700, $GRAY);
      }

      &_cross {
        background-image: url(../../../images/contactUsCross.png);
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        z-index: 4;
        left: 1325px;
        bottom: 755px;
      }
    }
  }
}
