@import 'main';

.contactUs {
  @include flex-col(center);
  background-image: url(../../../images/contactUsBg.jpg);
  min-height: 264px;
  background-color: $GRAY;

  @include media($SCREEN_DESKTOP) {
    width: 100%;
  }
  &__wrapper {
    @include flex-col(center, center);

    &_question {
      @include text(12px, 600, $GRAY);
      margin-top: 49px;
      margin-bottom: 19px;
      @include media($SCREEN_TABLET) {
        margin-bottom: 0;
      }
      @include media($SCREEN_DESKTOP) {
        margin-top: 49px;
        font-size: 18px;
      }
    }

    &_title {
      @include text(50px, 700, $GRAY);
      margin-bottom: 29px;
      @include media($SCREEN_TABLET) {
        font-size: 70px;
      }
      @include media($SCREEN_DESKTOP) {
        font-size: 120px;
      }
    }
  }

  &__addMassage {
    @include flex-row(center);
    margin-bottom: 50px;

    &_input {
      width: 288px;
      min-height: 40px;
      border: 0px;
      padding: 15px 30px;

      @include media($SCREEN_TABLET) {
        width: 450px;
      }
      @include media($SCREEN_DESKTOP) {
        width: 470px;
        min-height: 60px;
      }
    }

    &_button {
      @include text(14px, 600, $WHITE);
      width: 106px;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: $GRAY;
      cursor: pointer;
      &:hover {
        color: $YELLOW;
      }
      @include media($SCREEN_TABLET) {
        width: 165px;
      }
      @include media($SCREEN_DESKTOP) {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 165px;
      }
    }
  }
}

.modalWindow {
  &__wrapper {
    @include flex(center, center);
    z-index: 3;
    position: fixed;

    width: 100vw;
    height: 100vh;
    background-color: rgba($color: $GRAY, $alpha: 0.9);
    top: 0;
    left: 0;
    &_centerBlock {
      @include flex-col(center, center);
      width: 729px;
      padding-top: 170px;
      padding-bottom: 170px;
      background-color: white;

      &_thanks {
        @include text(60px, 700, $GRAY);
      }

      &_email {
        @include text(30px, 700, $GRAY);
      }

      &_cross {
        background-image: url(../../../images/contactUsCross.png);
        width: 30px;
        height: 30px;
        cursor: pointer;
        left: 1295px;
        bottom: 665px;
        position: absolute;
        z-index: 4;
        border: 1px solid black;
        border-radius: 100px;
      }
    }
  }
}
