@import 'main';

.homeQuote {
  background-color: $GRAY;
  @include flex(center);
  padding-top: 120px;
  width: 100%;

  &__text {
    @include text(16px, 400, $WHITE);
    padding: 22px 25px 22px 25px;
    line-height: 160%;

    @include media($SCREEN-TABLET) {
      padding: 37px 58px 37px 58px;
      @include text(18px, 400, $WHITE);
    }
    @include media($SCREEN_DESKTOP) {
      padding: 100px 80px 100px 80px;
      @include text(30px, 400, $WHITE);
    }

    span {
      @include text(16px, 400, $YELLOW);
      @include media($SCREEN_DESKTOP) {
        font-size: 18px;
      }
      @include media($SCREEN_DESKTOP) {
        font-size: 30px;
      }
    }
  }
}

.container {
  @include flex(center, center);
  margin-bottom: 64px;
  border: 1px solid $YELLOW;
  width: 288px;
  min-height: 227px;

  @include media($SCREEN-TABLET) {
    width: 690px;
    min-height: 162px;
  }
  @include media($SCREEN-DESKTOP) {
    width: 1110px;
    min-height: 313px;
  }
}
