@import 'main';

.contactUs {
  margin-top: 20px;
  position: relative;
  @include flex-col(flex-start, center);
  background-image: url(../../../images/ContactUsBG_mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 35px;
  margin-bottom: 40px;

  @include media($SCREEN_TABLET_SMALL) {
    background-image: url(../../../images/contactUsBg.jpg);
    padding-bottom: 60px;
    margin-bottom: 70px;
  }

  @include media($SCREEN_DESKTOP) {
    margin-bottom: 140px;
  }

  &__subtitle {
    @include text(12px, 600, $GRAY);
    margin-bottom: 20px;

    @include media($SCREEN_TABLET) {
      margin-bottom: 10px;
    }

    @include media($SCREEN_DESKTOP) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__title {
    @include text(50px, 700, $GRAY);
    margin-bottom: 30px;

    @include media($SCREEN_TABLET) {
      font-size: 70px;
    }

    @include media($SCREEN_TABLET) {
      font-size: 120px;
      line-height: 69px;
      margin-bottom: 55px;
    }
  }

  &__form {
    width: 100%;
    max-width: 450px;
    @include flex(_, center);

    @include media($SCREEN_DESKTOP) {
      max-width: 470px;
    }

    &_input {
      width: 100%;
      @include text(12px, 400, rgba($GRAY, 0.5));
      border: none;
      padding: 14px;
      @include transition(all);

      @include media($SCREEN_TABLET_SMALL) {
        padding-left: 28px;
        padding-right: 28px;
      }
      @include media($SCREEN_DESKTOP) {
        padding: 25px 42px 22px;
      }

      &::placeholder {
        font-size: 12px;
        color: rgba($GRAY, 0.5);
      }
    }

    &_btn {
      cursor: not-allowed;
      padding: 14px 35px;
      background-color: $GRAY;
      @include text(12px, 700, $WHITE);
      @include transition(all);
      opacity: 1;

      @include media($SCREEN_TABLET_SMALL) {
        font-size: 14px;
        padding-left: 65px;
        padding-right: 65px;
      }

      @include media($SCREEN_DESKTOP) {
        padding: 23px 65px 22px;
      }

      &:hover,
      &:focus {
        color: $YELLOW;
      }
    }
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    @include flex(center, center);
    background-color: rgba($GRAY, 0.4);
    padding: 0 25px;
    z-index: 1;

    &__wrapper {
      position: relative;
      @include flex-col(center, center);
      background-color: $WHITE;
      color: $GRAY;
      width: 100%;
      max-width: 700px;
      height: 80%;
      border-radius: 10px;

      &_descr {
        @include text(20px, 700, $GRAY);
        margin-bottom: 10px;
      }

      &_email {
        @include text(14px, 400, $YELLOW);
      }

      &_closeIcon {
        position: absolute;
        top: 10px;
        right: 10px;
        $size: 20px;
        width: $size;
        height: $size;
        cursor: pointer;
        path {
          @include transition(stroke);
        }

        &:hover {
          path {
            stroke: $GRAY;
          }
        }
      }
    }
  }
}

.disabled {
  cursor: not-allowed;
}

// Modal
