@import 'main';

.ourExpertise {
  width: 100%;
  background-color: $GRAY;
  padding-bottom: 90px;
  @include flex(center);

  &__title {
    margin-bottom: 10px;
    @include text(14px, 600, $YELLOW);

    @include media($SCREEN_TABLET) {
      font-size: 16px;
      margin-bottom: 14px;
    }
    @include media($SCREEN_DESKTOP) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__desc {
    margin-bottom: 0px;
    @include text(24px, 700, $WHITE);
    margin-bottom: 10px;
    text-align: start;
    @include media($SCREEN_TABLET) {
      font-size: 30px;
      margin-bottom: 23px;
    }
    @include media($SCREEN_DESKTOP) {
      font-size: 70px;
      margin-bottom: 33px;
    }
  }

  &__text {
    @include text(14px, 400, $WHITE);
    line-height: 160%;

    @include media($SCREEN_TABLET) {
      font-size: 16px;
    }
    @include media($SCREEN_DESKTOP) {
      font-size: 18px;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 740px;
  @include flex-col(center, flex-start);
}
